<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <title>LB Restaurants</title>
  </head>
  <body>
    <h3>Restaurants of Long Beach, NY</h3>
      <ul class='allRestaurants'>
        {{#allRestaurantsData}}
        <li>
          <span class="name">
            <a href="restaurants/{{id}}">
              {{name}}
            </a>
          </span>
        </li>
        {{/allRestaurantsData}}
      </ul>
      <a href="/users/profile">Back To Profile</a>
  </body>
</html>