<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Restaurants</title>
  </head>
  <body>
    <h3>Restaurants of Long Beach</h3>
      <ul>
        {{#allRestaurantsData}}
        <li>
          <span class="name">
            <a href="restaurants/{{id}}">
              {{name}}
            </a>
          </span>
        </li>
        {{/allRestaurantsData}}
      </ul>
      <a href="/users/profile">Back To Profile</a>
  </body>
</html>