<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{restaurant.name}}</title>
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <h2>Restaurant: {{restaurant.name}}</h2>
    <input type="hidden" name="name" id="res_name" value="{{restaurant.name}}">
    <input type="hidden" name="name" id="user_id" value="{{restaurant.id}}">
      <p>Category:
        {{#restaurant.categories}}
          {{title}}.
        {{/restaurant.categories}}</p>
      <p>Rating: {{restaurant.rating}}</p>
      <p>Price Range: {{restaurant.price}}</p>
      <p>Location: {{restaurant.location.display_address}}</p>
      <div>
        <button id="user-favorite">ADD TO FAVORITES</button>
      </div>  
      <a href="/restaurants">Back To Restaurants</a>
  </body>
</html>