<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{restaurant.name}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
    <h2>Restaurant: {{restaurant.name}}</h2>
    <input type="hidden" name="name" id="res_name" value="{{restaurant.name}}">
    <input type="hidden" name="name" id="user_id" value="{{restaurant.id}}">
      <p>Category:
        {{#restaurant.categories}}
          {{title}}.
        {{/restaurant.categories}}</p>
      <p>Average Yelp Rating: {{restaurant.rating}}</p>
      <p>Price Range: {{restaurant.price}}</p>
      <p>Location: {{restaurant.location.display_address}}</p>
      <p>Hours: {{#restaurant.hours[0].open}}
          {{{start}}}
        {{/restaurant.hours[0].open}}
      </p>
      <div>
        <button id="user-favorite">ADD TO FAVORITES</button>  
      </div>  
      <div>
        <a href="/restaurants">Back To Restaurants</a>
      </div>
      <img src="{{restaurant.image_url}}" class="restaurantImg">
  </body>
</html>