<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <main>
    <h1>Your Favorite LB Restaurants</h1>
        <div class='users'>
            <ul>{{#favData}}
                <form class="update-rating">
                <li class="restaurant_name">{{restaurant_name}} -- My Rating:{{current_rating}} --
                    <input type="hidden" class="user_id" value="{{user_id}}">
                    <!-- <input type="hidden" class="rating" value="{{current_rating}}"> -->
                    <input type="hidden" class="name" name="{{restaurant_name}}" value="{{restaurant_name}}">
                    
                    <label >Update my rating
                        <select class="rating" name="rating">
                            <option value="">Select One …</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <input type="submit" name="submit">
                    </label>
                    <button class="delete-favorite" value="{{restaurant_name}}">DELETE
                    </button>
                </li></form>{{/favData}}
            </ul>
        </div>
        <div>
                <a href="/users/profile">Back To Profile</a> 
        </div> 
    </main>   
</body>

</html>